.img-banner {
  background-image: url(../../img/barista.jpg);
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .img-banner {
    height: 250px;
  }
}