blockquote {
  position: relative;
  max-width: 620px;
  margin: 80px auto;
  padding: 24px;
}

blockquote p {
  color: white;
}

blockquote h4 {
  color: #ffffff;
  margin: 0;
}

blockquote i {
  color: #535a62;
}

i.fas:nth-child(3) {
  display: block;
  text-align: right;
}