.card-features {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 8px 16px;
  height: 250px;
  display: flex;
}

.card-features img {
  height: 250px;
  object-fit: cover;
}

.card-features div {
  padding: 16px;
}

.card-features div h3,
.card-features div p {
  margin: 0;
}

#card-img-1,
#card-img-3 {
  border-radius: 8px 32px 32px 8px;
}

#card-img-2 {
  border-radius: 32px 8px 8px 32px;
}