.card-features {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 8px 16px;
  height: 250px;
  display: flex;
}

.card-features img {
  height: 250px;
  object-fit: cover;
}

.card-features div {
  padding: 16px;
}

.card-features div h3,
.card-features div p {
  margin: 0;
}

#card-img-1,
#card-img-3 {
  border-radius: 4px 0px 0px 4px;
}

#card-img-2 {
  border-radius: 0px 4px 4px 0px;
}

@media (max-width: 768px) {
  .card-features {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-features img {
    width: 100%;
  }
  
  #card-img-1,
  #card-img-3 {
    border-radius: 4px 4px 0px 0px;
  }
}